/*adds background color and font type*/
html {
    font-family: Verdana, sans-serif;
    background-color: #d8e7f6a6;
  }
  /*adds the homepage design and link locations*/
  .link-list {
    width: 70%;
    background-color: #948e8ec2;
    margin: auto;
    border-radius: 50px;
    overflow: auto;
  } 

  #link-fix {
    position: absolute;
    transform: translate(23%, -60%);
  }
    
  .link-list a {
    display: flex;
    justify-content: center;
    padding: 1.5em;
    font-size: 1.15em;
    text-decoration: none;
    color: white;
  }
  
  .link-list a:hover {
    transition: 50ms;
    background-color: white;
    color: rgb(192 212 232);
  }
  
  .main-links {
    top: 50%
  }